<%- include('header') %>
 <%- include('components/notification') %>
<div id="login">
<div class="clearfix hd">
<a href="/signup" class="btn btn-info btn-lg pull-right" role="button">注册</a>
<a href="/posts" class="btn btn-info btn-lg pull-right" role="button">主页</a>
</div>
<div class="main1">
<div class="logo">我的社区</div>
<div class="subtitle">让灵感飞起来</div>
    <form class="" method="post">
      <div class="">
        <input placeholder="用户名" type="text" name="name">
      </div>
      <div class="">
        <input placeholder="密码" type="password" name="password">
      </div>
      <button type="submit" class="btn btn-info" value="登录">登录</button>
    </form>  
</div>
</div>
<%- include('footer') %>