body{
	min-height:650px;
}

.form1{
	background: rgba(255, 255, 255, 0.5);
	position: relative;
	padding-left:30px;
	overflow: hidden;
}
#login{
	background-color:rgba(0,0,0,0.5);
	background:url('/images/wallls.com_118340.jpg') fixed;
	height:700px;
}
#login .hd{
	margin-bottom:40px;
	padding:20px;
}
#login .hd a{
	margin:20px;
}
#login .main1{ 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: hsla(0,0%,100%,.87);
    width: 363px;
    padding: 45px 0;
    border-radius: 4px;
}
#login .main1 input{
	border-radius: 4px;
	width:200px;
	margin:10px 0;
}
#login .main1 .logo{
	font-size:4em;
	color:#3498DB;
	text-shadow: 0 0 .1em, 0 0 .3em;
}
#login .main1 .subtitle{
	font-size:.9em;
	color:#757c80;
	font-weight:bold;
	line-height:14px;
}
#login .main1 form button{
	margin:10px 0;
	width:250px;
}
/***********************/
#signup{
	background-color:rgba(0,0,0,0.5);
	background:url('/images/wallls.com_118340.jpg') fixed;
	min-height:650px;
}
#signup .hd{
	margin-bottom:40px;
	padding:20px;
}
#signup .hd a{
	margin:20px;
}
#signup .main{
	margin:0;
	padding:0;
	width:100%;
	min-height:670px;
}
}
#signup .main input{
	border-radius: 4px;
	width:200px;
	margin:10px 0;
}
#signup .main .logo{
	font-size:4em;
	color:#3498DB;
	text-shadow: 0 0 .1em, 0 0 .3em;
}
#signup .main .subtitle{
	font-size:.9em;
	color:#757c80;
	font-weight:bold;
	line-height:14px;
}
#signup .main form button{
	margin:10px 0;
	width:250px;
}
/****************/
#create {
	background:url('/images/wallls.com_121085.jpg') fixed;
	height:700px;
}
#create .create{
	background: hsla(0,0%,100%,.87);
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior: url(ie-css3.htc);
	padding:20px;
}
#create .avatar1{
}
@-webkit-keyframes change{
	0%{-webkit-transform:rotate(0deg);}
　　50%{-webkit-transform:rotate(180deg);}
　　100%{-webkit-transform:rotate(360deg);}
}
@keyframes change{
	0%{transform:rotate(0deg);}
　　50%{transform:rotate(180deg);}
　　100%{transform:rotate(360deg);}
}
#create .avatar{
	transform:rotate(360deg);
	animation:change 12s linear infinite;
	border:10px #aee2d9 solid;
	height:100px; 
	width:100px;
	border-radius:50em;
	-moz-border-radius:50em;
	-webkit-border-radius:50em;
	behavior: url(ie-css3.htc); 
}
#create input{
	width:300px;
	height:30px;
}
#create form textarea{
	resize: none;
	height:300px;
	max-height: 300px;
	width:500px;
	max-width:500px;
	border-radius:.5em;
	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	background: rgba(255,255,255,0.5);
}
/****************/
.post-content{
	background: rgba(255,255,255,0.8);
	background:url('/images/wallls.com_115.jpg') fixed;
}
.post-content .col-md-2 img{
	border:10px #aee2d9 solid;
	height:100px; 
	width:100px;
	border-radius:50em;
	-moz-border-radius:50em;
	-webkit-border-radius:50em;
	behavior: url(ie-css3.htc); 
}
.post-content .row{
	background: rgba(255,255,255,0.8);
	border:2px solid green;
}
.post-content .container{
}